<!doctype html>
<html>
  <head>
    <title>log in page </title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%>: log in</h1>
    <form method="POST" action="/loggedin">
        <p>user name: <input id="username" type="username" name="username" value="" /></p>
        <p>password: <input id="password" type="password" name="password" value="" /></p>
        <input type="submit" value="Add Book" />
      </form>
  </body>
</html>