<!doctype html>
<html>
  <head>
    <title>logged out </title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <body>
        <h1><%=shopName%>: logged out</h>
      </body>
    </html>
  </head>